<%- include('partials/homeHeader.ejs') %>
<body>
    <header>
        <h1>Pantheone 2024</h1>
        <h2>Welcome to Our Website!</h2>
    </header>
    
    <section class="content">
        <a class="event-button" href="/register" role="button">Register</a>
        <a class="event-button" href="/login" role="button">Login</a>
    </section>
</body>
</html>
