<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert</title>
    <style>
        html {
            background-color: #e4e9fd;
            background-image: -webkit-linear-gradient(65deg, #a729e7 50%, #e4e9fd 50%);
            min-height: 100vh;
            font-family: "helvetica neue";
        }
        body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-size: x-large;
        }

        .alert-container {
            text-align: center;
            min-width: 300px;
            background-color: #fff;
            border-radius: 8px;
            padding: 30px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .alert-message {
        margin-bottom: 20px;
        }

        .button-container {
        text-align: center;
        }

        .back-button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #a729e7;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        }

        .back-button:hover {
        background-color: #8a57e1;
        }

    </style>
</head>
<body>
    <div class="alert-container">
        <div class="alert-message">
          <p><%= alertMsg %></p>
        </div>
        <div class="button-container">
          <a href=<%= hrf %> class="back-button">Ok</a>
        </div>
      </div>
</body>
</html>