<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Menu</title>
    <link rel="stylesheet" href="style/menu.css">
</head>
<body>
    <div class="box">
        <header>
            <h1>Welcome user</h1>
            <h2>Choose a task</h>
        </header>
        <div class="content">
            <ul>
                <div class="button-container">
                    <li><a class="event-button" href="/category" role="button">Register for events</a></li>
                    <li><a class="event-button" href="/revents" role="button">view registered events</a></li>
                    <li><a class="event-button" href="/" role="button">Log out</a></li>
                </div>
            </ul>
        </div>
    </div>
</body>
</html>