<%- include('../partials/formHeader.ejs') %>
<body>
    <main>
        <div class="box" id="heading">
            <h1>Enter Event Details</h1>
        </div>
        <div class="box">
            <form class="edit" action="/addControl" method="post">
                <label for="chosenResult">Select category : </label>
                <select name="chosenResult" id="dropDown" >
                    <% for(let i=0; i<categoryArray.length; i++){ %>
                        <option value="<%= categoryArray[i].category_id %>"><%= categoryArray[i].category_name %></option>
                    <% } %>
                </select>
                <label for="title">Title : </label>
                <input  type="text" name="title" id="title" placeholder="New Event Title" required/>
                <label for="price">Entry fee : </label>
                <input type="number" name="price" id="price" placeholder="Entry fee" required/>
                <label for="nop">No_of_participants : </label>
                <input type="number" name="nop" id="nop" placeholder="Number of particpants" required/>
                <label for="hname">Event Head Name : </label>
                <input type="text" name="hname" id="hname" placeholder="Event head name" required/>
                <label for="phone">Phone : </label>
                <input type="tel" name="phone" id="phone" placeholder="354-463-2837" required/>
                <br>
                <input  class="eventBtn" type="submit" value="Submit">
            </form>
        </div>
</main>
</body>
</html>