<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Menu</title>
    <link rel="stylesheet" href="style/menu.css">
</head>
<body>
    <div class="box">
        <header>
            <h1>Welcome Admin</h1>
            <h2>Choose a task</h2>
        </header>
        <div class="content">
            <ul>
                <div class="button-container">
                    <li><a class="event-button" href="/addEvent" role="button">Add Event</a></li>
                    <li><a class="event-button" href="/deleteEvent" role="button">Delete Event</a></li>
                    <li><a class="event-button" href="/updateEvent" role="button">Update Event</a></li>
                    <li><a class="event-button" href="/edetails" role="button">view  event details</a></li>
                    <li><a class="event-button" href="/pdetails" role="button">view particpant Details</a></li>
                    <li><a class="event-button" href="/" role="button">Log out</a></li>
                </div>
            </ul>
        </div>
    </div>
</body>
</html>